
@model IEnumerable<GuardaCapitaldaCultura2027.Models.Muicipio>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<fieldset class="border p-4">
    <legend class="w-auto text-left">Formulário de contacto</legend>
   
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Imagem
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <img src="~/img/Aguiar-da-Beira-Largo-Monumentos.jpg" asp-append-version="true" width="250" height="250" />
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MuicipioId">Editar</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MuicipioId">Detales</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MuicipioId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       
    </fieldset>