@model GuardaCapitaldaCultura2027.Models.Contacto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contacto</h4>
<hr />
<div class="row">
    <div class="col-md-8 text-left">
        <fieldset class="border p-4">
            <legend class="w-auto">Formulário de contacto</legend>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="col">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Sobrenome" class="control-label"></label>
                        <input asp-for="Sobrenome" class="form-control" />
                        <span asp-validation-for="Sobrenome" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Assunto" class="control-label"></label>
                    <input asp-for="Assunto" class="form-control" />
                    <span asp-validation-for="Assunto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mensagem" class="control-label"></label>
                    <textarea asp-for="Mensagem" class="form-control"></textarea>
                    <span asp-validation-for="Mensagem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
           </fieldset>
</div>
</div>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
