@model IEnumerable<GuardaCapitaldaCultura2027.Models.Contacto>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--<p>
                <a class="btn btn-primary"  asp-action="Create">
                     Adicionar Contacto
                </a>
            </p>-->
            <div class="col-md-12 table-responsive">
                <h2 class="float-left">Lista dos Contactos</h2>
                <br />
                <br />
                <br />
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr class="text-center">
                            <th>
                                <h6>Nome</h6>
                            </th>
                            <th>
                                <h6>E-Mail</h6>
                            </th>
                            <th>
                                <h6>Assunto</h6>
                            </th>
                            <th>
                                <h6>Ações</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-left">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Assunto)
                                </td>
                               
                                <td class="text-center my-1">
                                   
                                    <a class="btn btn-info my-1" asp-action="Details" asp-route-id="@item.ContactoId">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                        </svg>&ensp; Detalhes
                                    </a>
                                 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />


            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Primeira</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Seginte</a></li>
                    </ul>
                </nav>
            </div>


        </div>

    </div>
</div>
