<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Guarda Eventos</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/img/logo.png" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/galery.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Guarda Eventos</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Home" asp-action="Sobre">Sobre Nós</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Contactos" asp-action="Create">Contactos</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Home" asp-action="Erro">Login</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Home" asp-action="Erro">Registar</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <a asp-controller="Home" asp-action="Covid">
            <strong>COVID-19!</strong> O QUE PRECISA SABER
            CONTEM CONNOSCO. NÓS, CONTAMOS COM TODOS!
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="m-5"></div>
    <div class="row">
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Aguiar">
                    <img class="card-img-top" src="~/img/Aguiar-da-Beira-Largo-Monumentos.jpg" alt="Município de Aguiar da Beira" height="200">
                    <div class="overlay2">Aguiar da Beira</div>
                </a>

            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Almeida">
                    <img class="card-img-top" src="~/img/almeida.jpg" alt="Município de Almeida" height="200">
                    <div class="overlay2">Almeida</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Belmonte">
                    <img class="card-img-top" src="~/img/Belmonte.jpg" alt="Município de Belmonte" height="200">
                    <div class="overlay2">Belmonte</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Celorico">
                    <img class="card-img-top" src="~/img/celorico.jpg" alt="Município de Celorico da Beira" height="200">
                    <div class="overlay2">Celorico da Beira</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Covilha">
                    <img class="card-img-top" src="~/img/covilha.jpg" alt="Município de Covilhã" height="200">
                    <div class="overlay2">Covilhã</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="FCR">
                    <img class="card-img-top" src="~/img/fcr.jpeg" alt="Município de Figueira de Castelo Rodrigo" height="200">
                    <div class="overlay2">Figueira de Castelo Rodrigo</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Fornos">
                    <img class="card-img-top" src="~/img/fornos.jpg" alt="Município de Fornos de Algodres" height="200">
                    <div class="overlay2">Fornos de Algodres</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Fundao">
                    <img class="card-img-top" src="~/img/fundao.jpg" alt="Município de Fundão" height="200">
                    <div class="overlay2">Fundão</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Gouveia">
                    <img class="card-img-top" src="~/img/gouveia.jpg" alt="Município de Gouveia" height="200">
                    <div class="overlay2">Gouveia</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Guarda" asp-action="Index">
                    <img class="card-img-top" src="~/img/guarda.jpg" alt="Município de Guarda" height="200">
                    <div class="overlay2">Guarda</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Manteigas">
                    <img class="card-img-top" src="~/img/manteigas.jpg" alt="Município de Manteigas" height="200">
                    <div class="overlay2">Manteigas</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Meda">
                    <img class="card-img-top" src="~/img/meda.jpg" alt="Município de Mêda" height="200">
                    <div class="overlay2">Mêda</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Pinhel">
                    <img class="card-img-top" src="~/img/Pinhel.jpg" alt="Município de Pinhel" height="200">
                    <div class="overlay2">Pinhel</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Sabugal">
                    <img class="card-img-top" src="~/img/Sabugal.jpg" alt="Município de Sabugal" height="200">
                    <div class="overlay2">Sabugal</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Seia">
                    <img class="card-img-top" src="~/img/Seia.jpg" alt="Município de Seia" height="200">
                    <div class="overlay2">Seia</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="Trancoso">
                    <img class="card-img-top" src="~/img/trancoso.jpg" alt="Município de Trancoso" height="200">
                    <div class="overlay2">Trancoso</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a asp-controller="Home" asp-action="VNFC">
                    <img class="card-img-top" src="~/img/vnfc.jpg" alt="Município de Vila Nova de Foz Côa" height="200">
                    <div class="overlay2">Vila Nova de Foz Côa</div>
                </a>
            </div>
        </div>


    </div>

    <!---<div style="padding:5px">
         /*@{
            //foreach (var i in MultiLanMVC.LanguageMang.AvailableLanguages)
            //{
              //  @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Home", new { lang = i.LanguageCultureName }, null) <text> </text>
            //}
        }*/
    </div>-->
    <!-- Masthead-->
    <header class="page-section text-center">
        <div class="m-5"></div>
        <div class="container ">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </header>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">

                    <h4 class="text-uppercase mb-4">Guarda Eventos</h4>
                    <img src="~/img/logo.png" class="mb-2" />
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Redes Sociais</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Descrição</h4>
                    <p class="lead mb-0">
                        A nossa proposta para o trabalho consiste em criar um aplicação Web com o respetivo tema “Guarda – Candidata a Capital Europeia da Cultura 2027”, cujo nome do WebSite irá ser “Guarda Eventos”.
                        <!--<a href="http://startbootstrap.com">Start Bootstrap</a>-->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            2020 &copy; Guarda Eventos <!--- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Core theme JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="~/js/scripts.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>