@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="mynav_dropdown text-black-50">
    <button class="mynav_dropbtn">

        @if (!SignInManager.IsSignedIn(User))
        {
            <a asp-area="Identity" asp-page="/Account/Login">Login</a> 
        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Logout">Logout</a>
        }
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="mynav_dropdown-content bg-light">
        <a asp-area="Identity" asp-page="/Account/Registar">Registar</a>
    </div>
</div>