@model GuardaCapitaldaCultura2027.Models.LugarEvento
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{ ViewData["Title"] = "Delete";}

<h1>ELiminar</h1>

<h3>Tem mesmo certeza que quer apagar?</h3>
<div>
    <h4>LugarEvento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ocupado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCadeira)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroCadeira)
        </dd>
    </dl>

    <form asp-action="E">
        <input type="hidden" asp-for="LugarEventoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à Lista</a>
    </form>
</div>
