@model IEnumerable<GuardaCapitaldaCultura2027.Models.Turista>

@{
    ViewData["Title"] = "Index";
}

<<div class="container">
    <div class="row">
        <div class="col-md-12">

            <p>
                <a asp-action="Create"> Criar Contacto </a>
            </p>
            <div class="col-md-12 table-responsive">
                <h2 class="float-left">Lista dos Turistas</h2>
                <br />
                <br />
                <br />
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr class="text-center">
                            <th>
                                <h6>Nome</h6>
                            </th>

                            <th>
                                <h6>E-mail</h6>
                            </th>
                            <th>
                                <h6>Opções</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-left">
                                <td>
                                    @Html.DisplayNameFor(model => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(model => item.Sobrenome)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(model => item.Email)
                                </td>
                                <td class="text-center my-1">
                                    <a class="btn btn-info my-1" asp-action="Details" asp-route-id="@item.TuristaId"> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />

            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Primeira</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Seginte</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
