@model GuardaCapitaldaCultura2027.Models.Municipio

@{
    ViewData["Title"] = "Delete";
}


<h3 class="alert-light">Tem certeza de que deseja excluir Municipio?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            Imagem
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/image/" + Model.ImagemNome)" asp-append-version="true" width="250" height="250"/>
        </dd>
    </dl>
    
    <form asp-action="Delete" class="float-left">
        <input type="hidden" asp-for="MunicipioId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>
</div>
