@model GuardaCapitaldaCultura2027.Models.Municipio

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4 class="alert-light">Detalhes do Municipio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
           Nome do Municipio
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
           Imagem 
        </dt>
        <dd class="col-sm-12">
            <img src="@("~/image/" + Model.ImagemNome)" asp-append-version="true" width="250" height="250" />
        </dd>
    </dl>
</div>

<div class="float-left">
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.MunicipioId">Editar</a>
    <a class="btn btn-light" asp-action="Index">Retornar a Lista</a>
    <a height="50" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.MunicipioId">Delete</a>
</div>