@model IEnumerable<GuardaCapitaldaCultura2027.Models.Municipio>

@{
    ViewData["Title"] = "Index";
}


<h4 class="alert-light">Lista dos Municipios</h4>
<hr />
<div class="row">
    <p>
        <a class="btn btn-primary left" asp-action="Create">Criar Municipio</a>
    </p>
</div>
<div class="row">
    
    <fieldset class="border p-4">
        <legend class="w-auto text-left">Formulário de contacto</legend>
        

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Desativar
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desativar)
                        </td>
                        <td class="m-5">
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MunicipioId">Editar</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MunicipioId">Detales</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </fieldset>
</div>