@page
@model LogoutModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Sair";
}

@{
    await SignInManager.SignOutAsync();
}

<header>
    <h1>@ViewData["Title"]</h1>
    <h4> Você saiu da sua conta com sucesso! </h4>
    <h6> Volte sempre! </h6>
</header>