@{
    ViewData["Title"] = ViewBag.title;
}

<div class="main-panel view-html" style="width:100%;">
    <div class="content-wrapper">
        <div class="row">
            <div class="col">

                <div class="alert @ViewBag.type" role="alert">

                    <h4 class="alert-heading">@ViewBag.title</h4>
                    <hr>
                    <p>@Html.Raw(ViewBag.message)</p>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .search-field,
    button[data-toggle="minimize"],
    #todo-task {
        display: none;
        visibility: hidden;
    }
</style>

<script>
    setTimeout(function () {
        location.href = '@ViewBag.redirect';
    }, 3000);
</script>

