@{
    ViewData["Title"] = "Contactos";
}

<div class="text-center">
    <h1 class="display-4">Contactos</h1>
    <p> Se quer dar-nos um feedback, por favor, contacte-nos pelo e-mail abaixo indicado. </p>
    <p> Pode também deixar o seu contacto no respetivo formulário. </p>
    <p> Obrigado e até breve. </p>
</div>
