@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<!-- /.row -->

<div class="row">
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/Aguiar-da-Beira-Largo-Monumentos.jpg" alt="Município de Aguiar da Beira">
                <div class="overlay2">Aguiar da Beira</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/almeida.jpg" alt="Município de Almeida">
                <div class="overlay2">Almeida</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/Belmonte.jpg" alt="Município de Belmonte">
                <div class="overlay2">Belmonte</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/celorico.jpg" alt="Município de Celorico da Beira">
                <div class="overlay2">Celorico da Beira</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/covilha.jpg" alt="Município de Covilhã">
                <div class="overlay2">Covilhã</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/fcr.jpeg" alt="Município de Figueira de Castelo Rodrigo">
                <div class="overlay2">Figueira de Castelo Rodrigo</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/fornos.jpg" alt="Município de Fornos de Algodres">
                <div class="overlay2">Fornos de Algodres</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/fundao.jpg" alt="Município de Fundão">
                <div class="overlay2">Fundão</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/gouveia.jpg" alt="Município de Gouveia">
                <div class="overlay2">Gouveia</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/guarda.jpg" alt="Município de Guarda">
                <div class="overlay2">Guarda</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/manteigas.jpg" alt="Município de Manteigas">
                <div class="overlay2">Manteigas</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/meda.jpg" alt="Município de Mêda">
                <div class="overlay2">Mêda</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/Pinhel.jpg" alt="Município de Pinhel">
                <div class="overlay2">Pinhel</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/Sabugal.jpg" alt="Município de Sabugal">
                <div class="overlay2">Sabugal</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/Seia.jpg" alt="Município de Seia">
                <div class="overlay2">Seia</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/trancoso.jpg" alt="Município de Trancoso">
                <div class="overlay2">Trancoso</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/vnfc.jpg" alt="Município de Vila Nova de Foz Côa">
                <div class="overlay2">Vila Nova de Foz Côa</div>
            </a>
        </div>
    </div>


</div>
<!-- /.row -->