@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <a asp-controller="Home" asp-action="Covid">
        <strong>COVID-19!</strong> O QUE PRECISA SABER
        CONTEM CONNOSCO. NÓS, CONTAMOS COM TODOS!
    </a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    <div class="m-5"></div>
    <div class="row">
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/Aguiar-da-Beira-Largo-Monumentos.jpg" alt="Município de Aguiar da Beira"  height="200">
                    <div class="overlay2">Aguiar da Beira</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/almeida.jpg" alt="Município de Almeida"  height="200">
                    <div class="overlay2">Almeida</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/Belmonte.jpg" alt="Município de Belmonte"  height="200">
                    <div class="overlay2">Belmonte</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/celorico.jpg" alt="Município de Celorico da Beira"  height="200">
                    <div class="overlay2">Celorico da Beira</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <a asp-controller="Home" asp-action="Covilha">
                        <img class="card-img-top" src="~/img/covilha.jpg" alt="Município de Covilhã" height="200">
                        <div class="overlay2">Covilhã</div>
                    </a>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/fcr.jpeg" alt="Município de Figueira de Castelo Rodrigo" height="200">
                    <div class="overlay2">Figueira de Castelo Rodrigo</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/fornos.jpg" alt="Município de Fornos de Algodres" height="200">
                    <div class="overlay2">Fornos de Algodres</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/fundao.jpg" alt="Município de Fundão" height="200">
                    <div class="overlay2">Fundão</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/gouveia.jpg" alt="Município de Gouveia" height="200">
                    <div class="overlay2">Gouveia</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <a asp-controller="Home" asp-action="Guarda">
                        <img class="card-img-top" src="~/img/guarda.jpg" alt="Município de Guarda" height="200">
                        <div class="overlay2">Guarda</div>
                    </a>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/manteigas.jpg" alt="Município de Manteigas" height="200">
                    <div class="overlay2">Manteigas</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/meda.jpg" alt="Município de Mêda" height="200">
                    <div class="overlay2">Mêda</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/Pinhel.jpg" alt="Município de Pinhel" height="200">
                    <div class="overlay2">Pinhel</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/Sabugal.jpg" alt="Município de Sabugal" height="200">
                    <div class="overlay2">Sabugal</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <a asp-controller="Home" asp-action="Seia">
                        <img class="card-img-top" src="~/img/Seia.jpg" alt="Município de Seia" height="200">
                        <div class="overlay2">Seia</div>
                    </a>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/trancoso.jpg" alt="Município de Trancoso" height="200">
                    <div class="overlay2">Trancoso</div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-5 ">
            <div class="zoom card h-100">
                <a href="#">
                    <img class="card-img-top" src="~/img/vnfc.jpg" alt="Município de Vila Nova de Foz Côa" height="200">
                    <div class="overlay2">Vila Nova de Foz Côa</div>
                </a>
            </div>
        </div>


    </div>
    <!-- /.row -->