@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<!-- /.row -->

<div class="row">
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href="#">
                <img class="card-img-top" src="~/img/Aguiar-da-Beira-Largo-Monumentos.jpg" alt="Município de Aguiar da Beira">
                <div class="overlay2">Aguiar da Beira</div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->