@{
    ViewData["Title"] = "Home Page";
}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
        <a asp-controller="Home" asp-action="Covid" class="text-black-50">
            <strong>COVID-19!</strong> O QUE PRECISA SABER
            CONTEM CONNOSCO. NÓS, CONTAMOS COM TODOS!
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/CAPITAL-EUROPA.jpg" alt="Primeiro Slide" />
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/CAPITAL-EUROPA.jpg" alt="Segundo Slide" />
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/CAPITAL-EUROPA.jpg" alt="Terceiro Slide" />
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/sustentabilidade1.png" alt="Terceiro Slide" width="1097" height="427"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="m-5"></div>
<div class="row">
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Aguiar">
                <img class="card-img-top" src="~/img/src/12.jpg" alt="Município de Aguiar da Beira" height="200">
                <div class="overlay2">Aguiar da Beira</div>
            </a>

        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Almeida">
                <img class="card-img-top" src="~/img/src/3.jpg" alt="Município de Almeida" height="200">
                <div class="overlay2">Almeida</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Belmonte">
                <img class="card-img-top" src="~/img/src/4.jpg" alt="Município de Belmonte" height="200">
                <div class="overlay2">Belmonte</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Celorico">
                <img class="card-img-top" src="~/img/src/5.jpg" alt="Município de Celorico da Beira" height="200">
                <div class="overlay2">Celorico da Beira</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Covilha">
                <img class="card-img-top" src="~/img/src/6.jpg" alt="Município de Covilhã" height="200">
                <div class="overlay2">Covilhã</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="FCR">
                <img class="card-img-top" src="~/img/src/7.jpeg" alt="Município de Figueira de Castelo Rodrigo" height="200">
                <div class="overlay2">Figueira de Castelo Rodrigo</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Fornos">
                <img class="card-img-top" src="~/img/src/8.jpg" alt="Município de Fornos de Algodres" height="200">
                <div class="overlay2">Fornos de Algodres</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Fundao">
                <img class="card-img-top" src="~/img/src/9.jpg" alt="Município de Fundão" height="200">
                <div class="overlay2">Fundão</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Gouveia">
                <img class="card-img-top" src="~/img/src/10.jpg" alt="Município de Gouveia" height="200">
                <div class="overlay2">Gouveia</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Guarda">
                <img class="card-img-top" src="~/img/src/11.jpg" alt="Município de Guarda" height="200">
                <div class="overlay2">Guarda</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Manteigas">
                <img class="card-img-top" src="~/img/src/12.jpg" alt="Município de Manteigas" height="200">
                <div class="overlay2">Manteigas</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Meda">
                <img class="card-img-top" src="~/img/src/13.jpg" alt="Município de Mêda" height="200">
                <div class="overlay2">Mêda</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Pinhel">
                <img class="card-img-top" src="~/img/src/14.jpg" alt="Município de Pinhel" height="200">
                <div class="overlay2">Pinhel</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Sabugal">
                <img class="card-img-top" src="~/img/src/15.jpg" alt="Município de Sabugal" height="200">
                <div class="overlay2">Sabugal</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Seia">
                <img class="card-img-top" src="~/img/src/15.jpg" alt="Município de Seia" height="200">
                <div class="overlay2">Seia</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="Trancoso">
                <img class="card-img-top" src="~/img/src/2.jpg" alt="Município de Trancoso" height="200">
                <div class="overlay2">Trancoso</div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a asp-controller="Home" asp-action="VNFC">
                <img class="card-img-top" src="~/img/src/4.jpg" alt="Município de Vila Nova de Foz Côa" height="200">
                <div class="overlay2">Vila Nova de Foz Côa</div>
            </a>
        </div>
    </div>


</div>
<!-- /.row -->