@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>




<div class="text-justify">
    <p> A Guarda Eventos é a nossa proposta para o projeto de Programação para a Internet em conjunto com Engenharia de Software II. </p>
    <p> Este projeto consiste em um WebSite com o respetivo tema “Guarda – Candidata a Capital Europeia da Cultura 2027”. </p>
    <p> Nós escolhemos a cidade da Guarda porque é uma oportunidade única de demonstrar à Europa que a zona da Beira Interior do nosso país é uma zona muito recheada na área da Cultura. </p>
    <p> Com a "GuardaEventos" vamos facilitar, e muito, a vida dos turistas em que podem aceder ao WebSite para saber todo acerca dos concelhos envolventes nesta candidatura. </p>
</div>
<!----------
<div class="m-5"></div>
<div class="row">
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href=#>
                <img class="card-img-top" src="~/img/perfil/af.jpg" alt="Afonso" height="200">
                <div class="overlay2">Afonso Antunes</div>
            </a>
        </div>
    </div>

    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href=#>
                <img class="card-img-top" src="~/img/perfil/ca.png" alt="Carolina" height="200">
                <div class="overlay2">Carolina Rei</div>
            </a>
        </div>
    </div>

    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href=#>
                <img class="card-img-top" src="~/img/perfil/va.jpg" alt="Vagner" height="200">
                <div class="overlay2">Vagner Bom Jesus</div>
            </a>
        </div>
    </div>
</div>
----->
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h3 class="section-title mb-5">Equipa do Projeto</h3>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/img/perfil/af.jpg" alt="card image" style="width:500px;height:300px"></p>
                                    <h4 class="card-title">Afonso Antunes</h4>
                                    <p class="card-text">3ºano da Licenciatura em Engenharia Informática</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/AfonsoAntunes">
                                                <i class="fab fa-fw fa-github fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/img/perfil/ca.png" alt="Carolina" style="width:500px;height:300px"></p>
                                    <h4 class="card-title">Carolina Rei</h4>
                                    <p class="card-text">3ºano da Licenciatura em Engenharia Informática</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/CarolinaRei">
                                                <i class="fab fa-fw fa-github fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/img/perfil/va.jpg" alt="card image" style="width:500px;height:300px"></p>
                                    <h4 class="card-title">Vagner Bom Jesus</h4>
                                    <p class="card-text">3ºano da Licenciatura em Engenharia Informática</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/VagnerBomJesus">
                                                <i class="fab fa-fw fa-github fa-2x"></i>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>