@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <p>A Guarda Eventos é a nossa proposta para o trabalho de Programação para a Internet consiste em um WebSite com o respetivo tema “Guarda – Candidata a Capital Europeia da Cultura 2027”.</p>
    <p>  Nós escolhemos a Guarda porque é uma oportunidade única de demonstrar à Europa que a zona da Beira Interior do nosso país é uma zona recheada nessa área.</p>
    <p> Com a "GuardaEventos" vamos facilitar e muito a vida dos turistas em que podem aceder a aplicação para saber todo sobre a Guarda Capital da Cultura.</p>
</div>

