@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <p> A Guarda Eventos é a nossa proposta para o projeto de Programação para a Internet em conjunto com Engenharia de Software II. </p>
    <p> Este projeto consiste em um WebSite com o respetivo tema “Guarda – Candidata a Capital Europeia da Cultura 2027”. </p>
    <p> Nós escolhemos a cidade da Guarda porque é uma oportunidade única de demonstrar à Europa que a zona da Beira Interior do nosso país é uma zona muito recheada na área da Cultura. </p>
    <p> Com a "GuardaEventos" vamos facilitar, e muito, a vida dos turistas em que podem aceder ao WebSite para saber todo acerca dos concelhos envolventes nesta candidatura. </p>
</div>

<div class="m-5"></div>
<div class="row">
    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href=#>
                <img class="card-img-top" src="~/img/perfil/af.jpg" alt="Afonso" height="200">
                <div class="overlay2">Afonso Antunes</div>
            </a>
        </div>
    </div>

    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href=#>
                <img class="card-img-top" src="~/img/perfil/ca.png" alt="Carolina" height="200">
                <div class="overlay2">Carolina Rei</div>
            </a>
        </div>
    </div>

    <div class="col-md-4 mb-5 ">
        <div class="zoom card h-100">
            <a href=#>
                <img class="card-img-top" src="~/img/perfil/va.jpg" alt="Vagner" height="200">
                <div class="overlay2">Vagner Bom Jesus</div>
            </a>
        </div>
    </div>
   </div>
